h1 {
  margin-bottom: 0;
}
h3 {
  font-style: italic;
  margin-top: 0;
}
.byline {
  font-size: 13px;
  color: grey;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
h4 a {
  font-size: 20px;
  color: #BF5700;
}
h4 {
  margin: 0;
}
.info {
  margin: 0;
}
.first-story {
  background-color: #D3D3D3;
  padding: 10px;
}
div {
  margin-top: 20px;
}
.byline.one {
  font-size: 17px;
}
.headline-one a {
  font-size: 35px;
}
